
print '''+-----------------------------------------------------------------------+
+ WELCOM TO OUR CALCULATOR (Version 1.0)                                     +
+-----------------------------------------------------------------------+
'''
print "Here's a tiny piece of fun Maths \n \t* Type \"Any calcul To Access\"  * "
Click1 = input("[Enter] : ")
name = raw_input ( "Step 1  tape your name : ")
print "All right Ms.%s" %(name)
print "Tell as why you used our operation  :   "
x = raw_input ()
wait_pls = """+----------------------+
+  Details +
+----------------------+"""
print "%s" %wait_pls
print "You used it for \"%s\"" % x
print raw_input ("ENTER PLEASE  : ")
print """"
~~~~~~~~~~~~~~~~~~~
\a\a\a\a\a\a\a\a\a
~~~~~~~~~~~~~~~~~~~~~~~   
"""
calcul = input("Use Calculator :  ")
print "Your result is : %r" %calcul
